.line-selected:after {
  content: '⇿';
  border-radius: 2px;
  padding: 0px 4px 0px 4px;
  font-size: 13px;
  margin-left: 5px;
  background-color: #455b73;
  color: #fff;
  cursor: text;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Popover styling */

.popover-gas {
  /*transition: left 40ms ease-out, top 25ms ease-in;*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  max-width: 600px;
  max-height: 500px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #fbfbfbf2;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px 0px #607D8B;
  line-break: auto;
}

.popover-gas>.popover-gas__arrow,
.popover-gas>.popover-gas__arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover-gas>.popover-gas__arrow {
  border-width: 10px;
}

.popover-gas>.popover-gas__arrow:after {
  top: -7px;
  margin-left: -9px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #5d7784;
  border-width: 9px;
}

.popover-gas.popover-gas-bottom>.popover-gas__arrow {
  top: -9px;
  left: 16px;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: rgb(255, 255, 255);
}

.popover-gas__title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #5d7784;
  border-bottom: 1px solid #ebebeb;
  border-radius: 2px 2px 0 0;
  color: #fff;
}

.popover-gas__content {
  padding: 9px 14px;
  overflow: auto;
  max-height: 350px;
}

.table-custom {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  font-size: 13px;
  width: 100%;
}

.table-custom td,
.table-custom th {
  border: 1px solid #ddd;
  padding: 4px;
  vertical-align: middle;
}

.table-custom tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-custom tr:hover {
  background-color: #ddd;
}

.table-custom th {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left;
  background-color: #4c5356;
  color: white;
}

.table-custom tr th:nth-child(1),
.table-custom tr td:nth-child(1) {
  text-align: center;
}

.CodeMirror-completions {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
  -moz-box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
}

.CodeMirror-completions select {
  background: #fafafa;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: monospace;
}

div.status-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

div.status-bar .person-link {
  padding: 2px 4px 0 8px;
}

div.status-bar .person-link a {
  font-size: 10px;
  color: #807e7e;
  letter-spacing: 1.1px;
}

#ctnJsAutocomplete {
  visibility: visible;
  position: absolute;
  overflow: visible;
}

#ctnJsAutocomplete .scroll-wrapper {
  overflow: auto;
  position: relative;
  zoom: 1;
  width: 364px;
}

#ctnJsAutocomplete .scroll-wrapper>div {
  position: relative;
  zoom: 1;
}

#ctnJsAutocomplete .gwt-Label:hover,
.gas-item-selected {
  background-color: #e0e0e0;
  color: #222;
  transition: background 0;
  -webkit-transition: background 0;
  -moz-transition: background 0;
  cursor: pointer;
}

.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 2px;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
  -moz-box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
  border-radius: 3px;
  border: 1px solid silver;
  background: white;
  font-size: 90%;
  font-family: monospace;
  max-height: 20em;
  overflow-y: auto;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  white-space: pre;
  color: black;
  cursor: pointer;
}

li.CodeMirror-hint-active {
  background: #08f;
  color: white;
}

.gas-error-marker::before,
.gas-error-marker-multiple::before,
.gas-warning-marker::before {
  content: '';
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  width: 16px;
  top: -1px;
  vertical-align: middle;
  pointer-events: none;
  position: relative;
}

.gas-error-marker::before,
div.gas-error-item {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAHlBMVEW7AAC7AACxAAC7AAC7AAAAAAC4AAC5AAD///+7AAAUdclpAAAABnRSTlMXnORSiwCK0ZKSAAAATUlEQVR42mWPOQ7AQAgDuQLx/z8csYRmPRIFIwRGnosRrpamvkKi0FTIiMASR3hhKW+hAN6/tIWhu9PDWiTGNEkTtIOucA5Oyr9ckPgAWm0GPBog6v4AAAAASUVORK5CYII=");
}

.gas-error-marker-multiple::before {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAACRQTFRFAAAAuwAAuwAAsQAAuAAAuwAAuwAAuQAAuwAA////v7+/AAAAKAmUHAAAAAx0Uk5TAFKc5P8Xi///////h5RjEQAAAGJJREFUeJxjYEAARmVnRRDNmt7R0Z4KZLB1AEEbkCEOYrQLMDBodMwAQgUGBouOzs6ODgMGBo8OoECHA0Ska5UBRM2sXQpgXV2rdq0Cm9O1e/cusMkQEZBdWrug9nKtQrgBAD8OJWF0G3EsAAAAAElFTkSuQmCC");
}

div.gas-warning-item,
.gas-warning-marker::before {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAANlBMVEX/uwDvrwD/uwD/uwD/uwD/uwD/uwD/uwD/uwD6twD/uwAAAADurwD2tQD7uAD+ugAAAAD/uwDhmeTRAAAADHRSTlMJ8mN1EYcbmiixgACm7WbuAAAAVklEQVR42n3PUQqAIBBFUU1LLc3u/jdbOJoW1P08DA9Gba8+YWJ6gNJoNYIBzAA2chBth5kLmG9YUoG0NHAUwFXwO9LuBQL1giCQb8gC9Oro2vp5rncCIY8L8uEx5ZkAAAAASUVORK5CYII=");
}

.gas-warning-item,
.gas-error-item {
  display: block;
  overflow: hidden;
  margin-left: 0px;
  padding-left: 18px;
  background-position: top left;
  background-repeat: no-repeat;
}